.App {
  text-align: center;
}

.App-logo {
  display: block;
  margin-left: auto;
  width: 30%;
  border-radius: 5rem;
  float: right;
}

.App-header {
  background-color: #FDFFFC;
  text-align: left;
  padding: 4rem;
}

.Subtitle {
  font-size: 4rem;
  color: #EA9AB2;
  font-weight: bold;
  margin: 0%;
}

.Title {
  font-size: 5rem;
  color: #D14A1F;
  font-weight: bold;
  margin: 0%;
}

.Bold {
  font-weight: bold;
}

.ExternalLink {
  text-decoration: underline;
  color: black;
}

p {
  font-size: 1.5rem;
}

.Header-Box {
  display: flex;
}

.InternalLink {
  font-size: 2rem;
  font-weight: bold;
  color: #F1B842;
  text-decoration: underline;
  margin-right:4rem;
}